:root {
  --size-8: 0.5rem;
  --size-10: 0.625rem;
  --size-12: 0.75rem;
  --size-14: 0.875rem;
  --size-16: 1rem;
  --size-18: 1.125rem;
  --size-20: 1.25rem;
  --size-25: 1.563rem;
  --size-30: 1.875rem;
  --size-40: 2.5rem;
  --size-50: 3.125rem;
  --size-60: 3.75rem;
  --size-100: 6.25rem;
  --size-150: 9.375rem;
  --size-200: 12.5rem;
  --transition-speed: 350ms;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-size: 1rem;
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
}

a {
  text-decoration: none;
  outline: none;
  background: transparent;
}

ul {
  list-style: none;
}

.container {
  padding-left: 16px;
  padding-right: 16px;
  margin: 0 auto;
}

.btn {
  appearance: none;
  outline: none;
  background: transparent;
  border: transparent;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.btn-primary {
  --bottom-on-click: -2px;
  font-size: var(--size-20);
  border: 1px solid rgba(0, 0, 0, 0.5);
  padding: 0.4rem 1.6rem;
  border-radius: 20px;
  box-shadow: 1px 1px 1px 1px rgba(33, 33, 33, 0.5);
  cursor: pointer;
  transition: background-color var(--transition-speed) ease-in;
  position: relative;
}

.btn-primary:hover {
  background-color: var(--bg-soft);
}

.btn-primary:active {
  bottom: var(--bottom-on-click);
}
