.tasks-body {
  margin-top: 50px;
}

.tasks-body .heading {
  text-align: center;
  padding-bottom: 30px;
  border-bottom: 1px solid black;
}

.tasks-body .task {
  display: flex;
  padding: 20px 10px;
  border-bottom: 1px solid black;
  gap: 20px;
  justify-content: space-between;
}

.tasks-body .task-content {
  overflow-y: hidden;
  overflow-x: auto;
  white-space: nowrap;
}

.tasks-body .task-content,
.tasks-body .task-input-field {
  line-height: 2;
  font-size: var(--size-18);
  letter-spacing: 1px;
  width: 250px;
  height: 40px;
}

.tasks-body .task-input-field {
  display: none;
}

.tasks-body .task.edit-mode .task-content {
  display: none;
}

.tasks-body .task-content.completed {
  text-decoration: line-through;
}

.tasks-body .task.edit-mode .task-input-field {
  display: unset;
}

@media (max-width: 767px) {
  .tasks-body .task {
    flex-direction: column;
    align-items: center;
  }

  .task button,
  .task .task-input-field,
  .task .task-content {
    width: 100%;
    text-align: center;
  }
}
